@charset "utf-8";


/*----------------
primary color: #ffc600;
----------------*/


/*----------------
共通
----------------*/



html{
  font-size: 62.5%;
  width: 100%;
  text-align: center;
}

*, *::before, *::after{
  box-sizing: border-box;
}

.clearfix::after{
  content:'';
  display: block;
  clear: both;
}

a,a:visited{
  text-decoration: none;
  color: #222222;
}

ul li{
  list-style-type: none;
}

body{
 width: 100%;
 background: url(../image/ball-demo.jpg);
 background-attachment: fixed;
}

/* body::before{
  content:'';
  position: fixed;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  filter: blur(5px);
  z-index: -1;
} */

.inner{
  max-width: 1000px;
  margin: 0 auto;
}

.inner-color{
border-radius: 50px;
/* border: 4px solid black; */
}

.container{
  text-align: center;
}

h2{
  position: relative;
  font-size: 48px;
  padding: 100px 0;
  font-family:'ヒラギノ角ゴStdN';
  color: #b8b4b4;
}

.h2-topic{
  transition: .5s;
}

.h2-topic::after{
  position: absolute;
  content:'';
  height: 8px;
  width: 150px;
  bottom: 33%;
  right: 42%;
  border-radius: 4px;
  background-color: #ffc600;
}

h3{
  font-size: 18px;
  font-family:'ヒラギノ角ゴProN';
  padding-top: 10px;
}
/*----------------
header
----------------*/
header{
  max-width: 1000px;
  /* padding-top: 80px;
  padding-bottom: 40px;
  */margin: 0 10px;
}

.page-header{
  display: none;
  background-color: white;
  position: fixed;
  top:0;
  right:0;
  width: 100%;
  z-index:99;
}


.logo{
  float:left;
  width: 300px;
  height: 80px;
  background: url('../image/logo.png') no-repeat;
  overflow:hidden;
  text-indent:100%;
  margin:10px 0 10px 10px;
  white-space: nowrap;
}

.logo a{
display:block;
width: 100%;
height: 100%;
}

.global-nav{
  float: right;
  padding-top: 30px;
  font-size: 18px;
  margin-right:20px;
}

.global-nav li{
  display: inline-block;
  padding-right: 10px;
}

.global-nav li:last-child{
 padding-right: 0;
}

.global-nav li a{
  display: inline-block;
  padding-top:20px;
  padding-bottom: 5px;
  text-align: center;
  margin: 0 5px;
}

.global-nav li a:hover{
border-bottom: 4px solid #ffc600;
transition-duration: .5s;
}

.key-visual{
  height: 100vh;
  width:100%;
}

.motto{
  font-size:60px;
  color: black;
  padding-top: 200px;
}

.motto-desc{
  font-size: 24px;
  padding-top: 150px;
}

/*----------------
about
----------------*/

.about{
  background-color: rgba(251, 249, 249, 0.7);
}

.about-desc{
  font-size: 16px;
  line-height: 24px;
  padding: 0 30px 80px;
}
/*----------------
service
----------------*/
.service{
  /* background-color: #f2f1f1; */
  width: 100%;
  padding-bottom: 50px;
}
.content{
  -webkit-display:flex;
 display: flex;
 -webkit-flex-wrap: wrap;
 flex-wrap: wrap;
 justify-content: space-between;
}

.service .content{
  padding-right: 50px;
  padding-left: 50px;
}

.service-item{
  width: 22%;
  transition: 1.0s;
}

.service-item img{
  width: 100%;
  border: 7px solid #ffc600;
  border-radius: 50%;
}

.service p{
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.5px;
  padding: 15px 0 30px;
}

/*----------------
column
----------------*/
.column-item-box1,
.column-item-box2{
  -webkit-display:flex;
  display:flex;
  -webkit-flex-direction: wrap;
  flex-direction: wrap;
  justify-content: space-between;
  position:relative;
  transition: 1s;
}

.column-item{
  border: 2px solid #ffc600;
  width: 30%;
  padding: 0.5%;
  background-color: white;
}

.column-item-1st{
  transition: 1s;
}

.column-item-2nd{
  transition: 1s;
  transition-delay: .8s;
}

.column-item-3rd{
  transition: 1s;
  transition-delay: 1.6s;
}

.column-item a{
  width:100%;
}

.column-item img{
  transition-duration: 1s;
  width: 100%;
}

.column-item img:hover{
  transform: scale(1.03);
}

.column-item-box1{
  padding-bottom: 50px;
}

.column-item-box2{
   padding-bottom: 100px;
}

/*----------------
contact
----------------*/
.contact{
background-color: #f2f1f1;;
  padding-bottom: 40px;
}


.contact a{
  text-align: center;
  margin: 20px auto;
  display: block;
  height: 55px;
  width: 175px;
  line-height: 55px;
  background-color: #ffc600;
  color:#000;
  font-size: 2.0rem;
  border-radius: 15px;
  border: 1px solid #000;
}

.contact a:{
  opacity: 0.7;
  transition: 1s;
}

.contact a:active{
  position: relative;
  top: 3px;
}

.contact p{
  font-size: 2.3rem;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40px;
  line-height: 1.5;
}


/*----------------
footer
----------------*/

.footer{
  background-color: #e5e1e1;
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 30px 20px 30px;
}

.footer-nav{
  float: left;
  padding-left:25px;
}

.footer-nav li{
  display: inline-block;
}

.footer-nav li a{
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 15px;
  font-size: 14px;
}

.footer-nav li a:hover{
border-bottom: 4px solid #ffc600;
transition-duration: .5s;
}

.footer-sns{
  float:right;
}

.footer-sns li{
  display: inline-block;
  padding-right: 20px;
}

.footer-sns a{
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
}


.sns-icon{
  height: 50px;
  line-height: 50px;
  font-size: 3rem;
}

.footer-sns a:hover{
  color: #666;
}

.copyright{
  font-size:12px;
  margin: 0 auto;
  color: black;
  padding-top: 40px;
}

/*----------------
backTop
----------------*/

#backTop{
  position:fixed;
  bottom: 5%;
  right: 3%;
  display: block;
  width:25px;
  height:25px;
  line-height:18px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .5);
}

/* #backTop i{
  line-height: 21px;
} */

@media screen and (max-width: 767px) {


  /*--------------------
  navToggle
  -----------------------*/

  #navToggle{
    display:block;
    position:absolute;
    width: 50px;
    height: 50px;
    top:30px;
    right:10px;
    z-index: 2;
  }

  #navToggle div{
    position: relative;
  }

  #navToggle span{
    position: absolute;
    display: block;
    width: 100%;
    border-bottom: 3px solid black;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
  }

  #navToggle span:nth-child(1){
    top:0;
  }
  #navToggle span:nth-child(2){
    top:25px;
  }
  #navToggle span:nth-child(3){
    top:50px;
  }


  /*--------------------
  toggleClass add openNav
  -----------------------*/

  .openNav #navToggle span:nth-child(1){
      top: 11px;
      -webkit-transform:rotate(-45deg);
      -moz-trasnform:rotate(-45deg);
      transform:rotate(-45deg);

    }
    /*2番目と3番目のspanを45度に*/
    .openNav #navToggle span:nth-child( 2 ),
    .openNav #navToggle span:nth-child( 3 ){
      top: 11px;
      -webkit-transform:rotate(45deg);
      -moz-transform:rotate(45deg);
      transform: rotate(45deg);
    }

    /*----------------
    global-nav
    -------------------*/
/* .global-nav{
    position:fixed;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffc600;
    width: 100%;
    } */

/*----------------
header
---------------*/

.header{
  padding-bottom: 40px;
}

.logo{
  float: none;
  text-align:center;
  margin: 5px auto 0;

}

.global-nav{
  float: none;
  margin-right: 0;
  padding-top: 5px;
}

.global-nav ul li{
  width: 24%;
  padding-right:0;
  padding-top: 5px;
  height:50px;
  margin-bottom:10px;
}

.global-nav ul li:first-child{
  width: 19%;
}

.global-nav ul li a{

  margin-bottom:5px;
  font-size:13px;
}

.motto{
  font-size: 68px;
  line-height: 1.2;
  /* padding-top:200px; */
}

.motto-desc{
  line-height: 1.5;
  padding-bottom: 20px;
}

.h2-topic::after{
  display: none;
}

.about-desc{
  font-size: 20px;
  line-height: 24px;
  padding: 0 30px 30px;
}

.service-item{
  width: 45%;
}

.service p{
  font-size: 16px;
  line-height: 1.4;
}

.service{
  padding-bottom: 30px;
}

.footer-nav,.footer-sns{
  float: none;
  text-align:center;
  margin: 0 auto;
}

.footer-nav{
  padding: 0;
  padding-bottom: 20px;
}

.footer-nav li a{
  margin: 0 10px;
}

.footer-sns li a:nth-child(1){
  padding-left: 20px;
}


}
